div{
    color: red;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    background: aliceblue url(/CSS/CSS-backgroundattach/food.jpg)
    no-repeat;
    background-attachment: scroll;
    background-size: 500px 500px;
    background-size: cover; */
    /* background-size: contain; */
    

}