/* body 
{
 background-color: blue;
}
#centre 
{
 margin: 1em 25%;
 background-color: #FFF;
}
#gauche 
{
 position: absolute;
 top: 1em;
 left: 1%;
 width: 18%;
}
#droite 
{
 position: absolute;
 top: 1em;
 right: 1%;
 width: 18%;
}
.aqua 
{
 background-color: #00FFFF; /* aqua */
 .menufixe 
 {
    top: 0;
    left: 0;
    width: 100%;
    border: 1px solid #000000;
    position: absolute;
    z-index: 2;
    text-align: center;
    background-color: #ffffff;
    line-height: 2em;
   }
 html>body .menufixe{
    position: fixed;
 }
 .content{
    z-index: 1;
    padding-top: 3em;
 }