/* The different types of position */
/* 1. Static */
/* 2.Relative */
/* 3.Absolute */
/* 4.Fixed */
/* 5.Sticky */

/* .main{
    border: 5px solid gray;
    width: 500px;
    height: 500px;
    font-weight: bold;

}
.box{
    width: 100px;
    height: 100px;
    color: white;
    padding: 10px;
    font-weight: bold;

}
.box1{
    background-color: teal;
    position: absolute;
    /* position: relative; */
    /* left: 50px;  */
    /* left: 0;*/
    /* top: 25px; */
    /* top:0; */
    /* to bring back to the original form */

/* }
.box2{
    background-color: yellowgreen
;}
.box3{
    background-color: blue;
} */ 
*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
    width: 100%;
}
#header,
#footer
{
    width: 100%;
    height: 100px;
    background-color: yellowgreen;
    padding: 5px;
}
#navbar{
    width: 100%;
    height: 50px;
    background-color: blueviolet;
    padding: 5px;
    position: sticky;
    top: 0;
}
#box{
    width: 100%;
    padding: 10px;
}
#navbar ul li{
    display: inline-block;
    list-style: none;
    padding:10px;
    line-height: 30px;
    color: white;
    
}