div{
    width: 800px;
    height: 400px;
    background-image: url(/CSS/CSS-backgroundclip/study.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 100px;
    color: transparent;
    font-family: Impact;
    text-align: center;
    /* This is purpose of the background clip , text only have the background and remaining they removed*/
    background-clip: text;
    -webkit-background-clip: text;
}