h1{
    font-family: 'Tahoma';
    font-weight: normal;
    font-variant: small-caps;
    color: blueviolet;

}
/* THIS IS THE ID STARTS WITH # */
#Red1{
    color: red;
}
/* THIS IS THE CLASS STARTS WITH . */
.green1{
    color:greenyellow;
}
p{
    font-style: italic;
    font-size: 25px;
}
span{
    font-weight: bold;
    color: yellowgreen;
}
h4{
    font: bold 12pt arial;
}
body{
    background: teal;
    background-image: url(/CSS/CSS-color/cat.jpg);
    color: white;
    background-repeat: no-repeat ;
    background-size: 100px 100px;
    background-position: top right;
    height: 800px;
    width: 800px ;
}
html{
    background-color: white;
}
div{
    width: 750px;
    height: 750px;
    background: teal url(/CSS/CSS-color/ohno.gif) repeat-x;
    padding: 25px;
    background-size: 200px 200px;
    background-size: cover;
    background-size: contain;
}