/* how to use multiple color radiant */
/* linear-gradient */
/* repeating-linear-gradient */
/* radial-gradient */
/* repeating-radial-gradient */
/* conic gradient */
/* repeating-conic-gradient */
div{
    
    height: 600px;
    width: 800px;
    background-color: red;
    /* linear gradient */
    background: linear-gradient(red, yellow, orange);
    /* to change the directions */
    background: linear-gradient(to right,#EA2027,#1b1464);
    background: linear-gradient(to left,#EA2027,#1b1464);
    background: linear-gradient(to top,#EA2027,#1b1464);
    background: linear-gradient(to bottom,#EA2027,#1b1464);
    /* include both */
    background: linear-gradient(to bottom right,#EA2027,#1b1464);
    background: linear-gradient(to bottom left,#EA2027,#1b1464);
    background: linear-gradient(to top left,#EA2027,#1b1464);
    background: linear-gradient(to top right,#EA2027,#1b1464);
    /* include 360 degree */
    background: linear-gradient(45deg,#EA2027,#1b1464);
    background: linear-gradient(-45deg,#EA2027,#1b1464);
/* repeating with percentage */
    background: repeating-linear-gradient(#EA2027,#1b1464 10%, yellow 20%);
    background: repeating-linear-gradient(to right, #EA2027,#1b1464 10%, yellow 20%);
    background: repeating-linear-gradient(to left, #EA2027,#1b1464 10%, yellow 20%);
    /* radial gradient */
    background: radial-gradient(red,yellow);
    background: radial-gradient(red,yellow),green;
    background: radial-gradient(red 15%,yellow 20%, green 30%);
    background: radial-gradient(circle,red 15%,yellow 20%, green 30%);
    /* x axis and y axis placement */
    background: radial-gradient(closest-side at 50% 50%,red 15%,yellow 20%, green 30%);
    background: radial-gradient(closest-side at 80% 50%,red 15%,yellow 20%, green 30%);
    background: radial-gradient(farthest-side at 80% 20%,red 15%,yellow 20%, green 30%);
    background: radial-gradient(closest-corner at 10% 10%,red 15%,yellow 20%, green 30%);
    /* rotation in a circle */
    background: repeating-radial-gradient(red 15%,yellow 20%, green 30%);
    background-image: conic-gradient(red 15%,yellow 20%, green 30%, black 10%);
    border-radius: 50%;
    background-image: conic-gradient(from 120deg,red 15%,yellow 20%, green 30%, black 10%);
    background-image: conic-gradient(red 0deg,yellow 90deg, green 180deg, black 270deg);
}